<%- include("../partials/header")%>


<style>
	body {
		color: whitesmoke;
		background: url("../imgs/aboutme.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.fontSize {
		font-size: 23px;
		font-weight: 600;
	}
	
	.move {
		padding-top: 17%;
	}
	
	.space {
		padding-top: 3.5%;
	}
</style>

<div class="container">
	<div class="d-flex">
		<div class="width-hund move fadeIn">
			<h1 class="display-2 text-center">
				About ME!
			</h1>
		</div>
	</div>
</div>


<div class="container">
  <div class="row text-center">
    <div class="col-md-6 space fadeIn">
      <h1>
		Why am I doing this?  
	  </h1>
      <p class="fontSize">
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus nisi nec luctus pretium. Mauris sagittis rhoncus maximus. Quisque 			 vehicula blandit nulla eget sodales. Integer a consequat ligula, vitae ultricies enim. Suspendisse facilisis vestibulum elit, eu laoreet 			 turpis congue vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra. 
	  </p> 
    </div>
    <div class="col-md-6 space fadeIn">
      <h1>
		Who am I?  
	  </h1>      
	   <p class="fontSize">
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus nisi nec luctus pretium. Mauris sagittis rhoncus maximus. Quisque 			 vehicula blandit nulla eget sodales. Integer a consequat ligula, vitae ultricies enim. Suspendisse facilisis vestibulum elit, eu laoreet 			 turpis congue vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra. 
	  </p> 
    </div>
  </div>
</div>








<%- include("../partials/footer")%>
