<%- include("../partials/header")%>


<style>
	body {
		color: whitesmoke;
		background: url("../imgs/aboutme.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	.fontSize {
		font-size: 23px;
		font-weight: 600;
		text-align: center;
		padding-top: 20px;
	}
	
	.move {
		padding-top: 16%;
	}
	
	.space {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	
	.maxWidth {
		width: 50%;
		padding: auto auto;
		margin: 0 auto;
	}
	

</style>

<div class="container">
	<div class="d-flex">
		<div class="width-hund move fadeIn">
			<h1 class="display-2 text-center" id="ME">
				About ME!
			</h1>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col">
			<div class=" text-center fadeIn1">
				<h1 class="space bout">
					Who am I? <span class="d-block">Why am I doing this?</span>
				</h1>
			</div>
			<div class="">
				<p class="fontSize fadeIn2">
					 I am Shantonu, studying in 10th Grade as of the year 2020. I have also created this website as a means to spread information about the latest technological advancements and latest social media platforms. This website means a lot to me as it is a platform for me to communicate with my reader as well as allowing me to convey my knowledge. 
				</p>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer")%>
