<%- include("../partials/header")%>

<style>
	body {
		background: #2c526b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4483ad, #2c526b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4483ad, #2c526b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: url("https://images.unsplash.com/photo-1564934304256-db564bb2568d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;

	}
	
	.bg {
		background: rgba(206, 235, 240, 0.82)
	}
</style>


<div class="exSpace fadeIn">

	<div class="container d-none d-md-block padding opac">
		<img src="../imgs/block/blockBG.png" class="img-fluid height rounded ">
	</div>

	<div class=" container d-sm-block d-md-none opac">
		<img src="../imgs/block/blockBG.png" class="img-fluid rounded headImg">
	</div>
	
	
	<div class="container padding">
		<div class="header rounded">
			<h1 class="center display-4 pudding">
				Blockchain
			</h1>
		</div>
		
		<div class ="font bg rounded">
			<div class="pad">
				<p>
					Blockchain, it might be a term you have heard before but didn’t understand. Most people relate the term “Blockchain” to 							cryptocurrencies like Bitcoin, Onecoin, Buxcoin, etc. 
				</p>

				<p>
					Modern technology allows people to communicate directly via calls, emails, pictures, as well as messages travel instantly from one device to another this allows for the individuals using the service to maintain trust between one another that their information is safe. Conversely, when it comes to financial transactions people need to trust a third party to complete a transaction, with Blockchain everything is changing. Blockchain uses high-level Mathematics and Cryptography to create an “Open Decentralized Database for the transaction of any value”. This allows it to create a database that can be verified by anyone with an internet connection.

				</p>
				<!-- <div class="row">
					<div class="d-flex col-md-12 col-lg-6 align-items-center">
						<ul class="">
							<li>Connect with existing friends or use it to make new friends </li>
							<li>Interact with them visually, posts, or direct messages </li>
							<li>Express opinions and thoughts </li>
							<li>Find communities, create communities </li>
							<li>Stay Updated</li>
						</ul>
					</div>
					<div class="col-md-12 col-lg-6">
						<img src="../imgs/facebook/facebookBody.png" class="bodyImg">
					</div>
					
					
				</div> -->
				<p>
					Blockchain can be implemented anywhere where there is a value being transferred, for example, voting, property transfer, money transfer, digital goods, etc. Blockchain can change how transactions work as it will no longer occur through a third party, making third parties obsolete. 
				</p>
				
				
				<p>
					Blockchain is special and is different from other technologies out there because of the way it stores and transfers the value. It uses “an open decentralized database” which can be accessed by anyone but allows for maximum safety as the way Blockchain stores data is different as it separates the data onto different computers from around the world connected by the internet if one of the computers were to get compromised in a cyber-attack the other computers will still be secure and will not allow for the data to get stolen as a decryption key will be required, hence protecting the user data.
				</p>
				<p>
					There are still quite a few drawbacks to the technology, the technology is so secure that even governments themselves can see what is happening and can’t protect their citizens from a Blockchain scam. Governments will struggle to moderate Blockchain transactions which could lead to massive scams. 
				</p>
				<p>
					Overall, in my opinion, Blockchain is a technology that may replace common methods of value transfer in a few years but will require a bit of tweaking before governments can fully accept Blockchain as an actual transaction method. 
				</p>
				
			</div>
			
		</div>
	</div>
	
</div>

<%- include("../partials/footer")%>