<%- include("../partials/header")%>

<style>
	body {
		/* background: #ad5389;  
background: -webkit-linear-gradient(to left, #3c1053, #ad5389);  
background: linear-gradient(to left, #3c1053, #ad5389);  */
		background: url("../imgs/cloud/cloudBack2.jpg");
		/* background: url("https://images.unsplash.com/photo-1602590341545-4b2051c0dba5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"); */
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		/* background: #4AC29A; 
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A); 
background: linear-gradient(to right, #BDFFF3, #4AC29A);  */

	}
	
	.bg {
		background: rgba(206, 235, 240, 0.95);
	}
	
	.opac {
		opacity: 1;
	}
	#dark {
		color: white;
	}
</style>


<div class="exSpace">
	<div class="fadeIn">
		<div class="container d-none  d-md-block padding opac">
			<img src="../imgs/cloud/cloudbg.jpg" class="img-fluid height rounded ">
		</div>

		<div class="container d-sm-block d-md-none opac padding">
			<img src="../imgs/cloud/cloudbg.jpg" class="img-fluid rounded headImg">
		</div>
	</div>
	
	
	
	<div class="container padding">
		<div class="header rounded fadeIn1">
			<h1 class="center display-4 pudding">
				Cloud Computing
			</h1>
		</div>
		
		<div class ="font bg rounded fadeIn2">
			<div class="pad">
				<p>
					Cloud computing in simple terms can be defined as “The on-demand availability of computer system resources, especially data 						storage and computing power.” Cloud computing is a service that was only used by larger companies before, now anyone can access a cloud computer from anywhere in the world.
				</p>

				<p>
					Cloud Computing has taken a serious rise in terms of popularity during the COVID – 19 pandemic, the popularity increased as office 					   workers have been provided with cloud computers as a means to compensate for the lack of hardware power when working from home. A 					 lot of companies and personnel have looked to cloud computing as a solution that can provide server-grade hardware access to 							anyone at home with a good enough internet connection and a pre-existing computer device.

				</p>
				<!-- <div class="row">
					<div class="d-flex col-md-12 col-lg-6 align-items-center">
						<ul class="">
							<li>Connect with existing friends or use it to make new friends </li>
							<li>Interact with them visually, posts, or direct messages </li>
							<li>Express opinions and thoughts </li>
							<li>Find communities, create communities </li>
							<li>Stay Updated</li>
						</ul>
					</div>
					<div class="col-md-12 col-lg-6">
						<img src="../imgs/facebook/facebookBody.png" class="bodyImg">
					</div>
					
					
				</div> -->
				<p>
					An average person can utilize a Cloud Computer (Virtual Desktop) in their day to day life if one is doing any kind of hardware-						intensive work. Virtual Desktops are a cheap solution instead of purchasing a full-time workstation PC. It can be used for personal 					use as well as for business use, most of the services that are provided by companies as of 2020 provide more plans and services for 					businesses, but there are a few companies that provide Virtual Desktops for personal use. 
				</p>
				
				
				<p>
					There are multiple ways a person can avail Cloud Computing services (Virtual Desktops) online, a few of the services that I have found 						convincing are listed below: 
				</p>
				<ol>
					<li>Paperspace 
						<ul>
							<li>
								Paperspace is one of the best services that one can avail for personal use, if one needs a virtual desktop for personal 								use Paperspace offers plans which are cheap and provide high-performance virtual desktops for cheap. Paperspace doesn’t 								have as many datacenters as the other companies on the list, but Paperspace is still a very viable option for personal 								   computing.
							</li>
						</ul>
					</li>
					<li>AWS Workspace (Amazon Web Services Workspace) 
						<ul>
							<li>
								AWS is a cloud computing service for amazon which includes workspaces, workspaces are an enterprise-level solution for 								  virtual desktops, which can be used for personal use as well as enterprise use. AWS offers several plans including a 									free trial to try whether or not you like their service.
							</li>
						</ul>
					</li>
					<li>Microsoft Azure
						<ul>
							<li>
								This is another cloud-based service but this time it is provided by Microsoft, Azure is meant for enterprise-level 									virtualization, but can be used by an average person as well as it provides a few personal plans for relatively low 								prices. Microsoft Azure also has more data centers compare to AWS or Paperspace, which will allow for lower latency 								compared to other services.
							</li>
						</ul>
					</li>
				</ol>
				<p>
					The companies that are listed above are one of the few that support Cloud Computer (Virtual Desktops), there are many more that 					support cloud computing and there may be another preference in your particular area.
				</p>
				<p>
					To wrap it all off, I would like to say cloud computing isn’t that new a technology but is certainly on the rise in recent years 					and I believe the COVID-19 pandemic has given it the perfect platform to be a viable choice for startups, enterprises, companies, 					and personal use.
				</p>
				
			</div>
			
		</div>
		
		<a class="btn btn-dark float-right button next" href="/tech/blockchain" title="Blockchain" id="dark">Next Article <i class="fas fa-arrow-right"></i></a>
	</div>
	
</div>

<%- include("../partials/footer")%>