<%- include("../partials/header")%>

<style>
	body {
		/* background: url("../imgs/facebook/facebookBG.png");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center; */
		
		background: #00c6ff;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		
		/* background: #83a4d4;  /* fallback for old browsers */ 
		/* background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */ 
		/* background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

	}
	
	
	/* .header {
		background:rgba(162, 163, 163, 0.7);

		/* 151, 244, 247 */
	/* } */

	/* .bg {
		background: rgba(211, 211, 245, 0.5)
	} */ 
</style>


<div class="exSpace">
	<div class="fadeIn">
		<div class="container d-none d-md-block padding opac">
			<img src="../imgs/facebook/facebookBG.png" class="img-fluid height rounded ">
		</div>

		<div class="container d-sm-block d-md-none opac">
			<img src="../imgs/facebook/facebookBG.png" class="img-fluid rounded headImg">
		</div>
	</div>
	
	
	
	<div class="container padding">
		<div class="header rounded fadeIn1">
			<h1 class="center display-4 pudding">
				Facebook 
				<span class="d-none d-md-inline">
					| It's quick and easy!
				</span>
			</h1>
		</div>
		
		<div class ="font bg rounded fadeIn2">
			<div class="pad">
				<p>
					Facebook is a social media corporation that has made the popular social media service “Facebook”. The company is not only into 						social media but has heavily invested in Virtual Reality and Augmented Reality, the company has also bought out other popular 						social media services like WhatsApp and Instagram but the most popular service is their in-house service “Facebook” with over 2.60 					   billion users worldwide accounting for 33% of the world's population.
				</p>

				<p>
					There are a lot of uses for the social networking app “Facebook”, users can utilize Facebook for:
				</p>
				<div class="row">
					<div class="d-flex col-md-12 col-lg-6 align-items-center">
						<ul class="">
							<li>Connect with existing friends or use it to make new friends </li>
							<li>Interact with them visually, posts, or direct messages </li>
							<li>Express opinions and thoughts </li>
							<li>Find communities, create communities </li>
							<li>Stay Updated</li>
						</ul>
					</div>
					<div class="col-md-12 col-lg-6">
						<img src="../imgs/facebook/facebookBody.png" class="bodyImg">
					</div>
					
					
				</div>
				
				
				<p>
					Here’s how to sign up for a Facebook account using either a mobile device or a computer, following are steps on how to sign up for 						an account from a computer:
				</p>
				<ol>
					<li>The minimum age for registering for a Facebook account is 13</li>
					<li>To sign up for a Facebook account you will be greeted by a form that will ask for your Name, Email or Phone Number, Date of 						Birth, and Gender.
					</li>
					<li>
						Click sign up and on your email or mobile number respectively you will have to verify that you are a real person, this also 						lets you recover your account in case you lose it
					</li>
					<li>You are set and you can now get started with Facebook, now you can add someone of your friends and start interacting with them
					</li>
				</ol>
				<p>
					Overall, I feel like Facebook is a very interactive and user-friendly platform but it has seen its share in terms of low demand due 					to competing social media apps that offer better features and more privacy. If you are doubtful about whether or not to make a 						Facebook account, I would say go ahead and try it out for yourself. If Facebook is not for you, you can <a href="https://www.facebook.com/help/250563911970368">delete</a> your existing account

				</p>
				
			</div>
			
		</div>
	</div>
	
</div>

<%- include("../partials/footer")%>