<%- include("../partials/header")%>
<title>SoTech: Instagram</title>
<style>

	body{
		background: #833ab4;  
		background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
		background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); 
 		
		
		/* background: #FEAC5E; 
		background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  
		background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
 */
	}


</style>

<div class="exSpace">
	<div class="fadeIn">
		<div class="container d-none  d-md-block padding opac">
			<img src="../imgs/insta/instaBG.png" class="img-fluid height rounded ">
		</div>

		<div class="container d-sm-block d-md-none opac">
			<img src="../imgs/insta/instaBG.png" class="img-fluid rounded headImg" >
		</div>
	</div>
	
	
	
	<div class="container padding">
		<div class="header rounded fadeIn1">
			<h1 class="center display-4 pudding">
				Instagram 
				<span class="d-none d-md-inline">
					| Capture and share the world's moments!
				</span>
			</h1>
		</div>
		
		<div class ="font bg rounded fadeIn2">
			<div class="pad">
				<p>
					Instagram is a social media platform that was developed originally by Kevin Systrom and Mike Krieger and is now owned by the giant 					   “Facebook”, statistically Instagram is one of the most used social media platforms as of 2020 coming in at 6th place of the overall 					   most used social media platforms as well as hosting one of the best experiences on a mobile device.
				</p>

				<p>
					Instagram has multiple differences from other social media platforms introducing unique features like “stories” which allows users 					   to put up anything of their choice for 24 hours for their friends or anyone to see. Instagram has also introduced a concept of 						reels where users can upload short videos of themselves or anything that they like. 
				</p>
				
				<p>
					Instagram has multiple uses like the one’s following: 
				</p>
				<div class="row">
					<div class="d-flex col-md-12 col-lg-6 align-items-center">
						<ul class="">
							<li>Post pictures and videos </li>
							<li>Direct Messaging friends </li>
							<li>Interacting using stories</li>
							<li>Sharing content</li>
							<li>Expressing opinions and thoughts</li>
						</ul>
					</div>
					<div class="col-md-12 col-lg-6">
						<img src="../imgs/insta/instaBody.png" class="bodyImg">
					</div>
					
					
				</div>
				
				
				<p>
					Here is how to sign up for an Instagram account (From a mobile device): 
				</p>
				<ol>
					<li>Download the instagram app from your respective app store</li>
					<li>Once the app is opened, Hit the Sign up button or sign in with your facebook account
					</li>
					<li>
						Fill out the required information, about your mobile number or email, full name, username and password
					</li>
					<li>Press the sign up button and you will be prompted to confirm your email or mobile number respectively</li>
					<li>Once you have verified your account, it may ask you to link your facebook account but you can choose to skip that, and you are 						   in your new instagram account 
					</li>
				</ol>
				<p>
					To wrap it all off, personally I believe that if you are looking for a casual social media platform. Instagram is the one for you 					  as it will provide the best of all worlds and gives the most satisfying user experience on a phone. Instagram is one of the best 						social media platforms out there right now to interact with new people as well as find new friends. I believe it's the perfect 						place for anyone looking to find an all in one social media platform. 
				</p>
				
			</div>
			
		</div>
	</div>
	
</div>



<%- include("../partials/footer")%>