<%- include("../partials/landing-header")%>

  <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">
                    <h1>Title</h1>
                    <h3>A website to find out about latest tech and learn about social media</h3>
                    <hr>
                    <a class="btn btn-light btn-lg" href="/tech"> Get Started!</a>
                </div>
            </div>
        </div>
    </div>



<%- include("../partials/footer")%>