<%- include("../partials/header")%>

<style>
	body{
		background: url("../imgs/background/techbg.png");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	
</style>



<div class="container">
	<div class="row">
		<div class="col fadeIn">
			<div class="jumbotron jumbo" id="techJumbo">
				<h1 class="display-4">Latest Technology</h1>
				<p class="lead">You can learn more about the latest and upcoming technology below</p>
			</div> 
		</div>
	</div>

	<div class="d-flex justify-content-md-around">
		<div class="row">
			<div class="d-sm-block col-sm-12 col-md-6 col-lg-4 fadeIn">
				<div class="card" style="width: 100%;">
				  <img class="card-img-top width-hund" src="../imgs/cloud.png" alt="Card image cap">
				  <div class="card-body">
					<h5 class="card-title">Cloud Computing</h5>
					<p class="card-text">Change the way you work!</p>
					<a href="/tech/cloud-computing" class="btn btn-outline-primary">Read More!</a>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 fadeIn">
				<div class="card" style="width: 100%;">
					<img class="card-img-top" src="../imgs/block.png" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Blockchain</h5>
						<p class="card-text">A completely new method of transfer value. Read more below!</p>
						<a href="/tech/blockchain" class="btn btn-outline-primary">Read More!</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 fadeIn">
				<div class="card" style="width: 100%;">
					<img class="card-img-top" src="../imgs/vr.png" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Virtual Reality</h5>
						<p class="card-text">A piece of technology that allows you to get immersed in an artifical world. Read more below!</p>
						<a href="/tech/vr" class="btn  btn-md btn-outline-primary">Read More!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <button id="fadeIn">
	CLICK ME
</button> -->


<%- include("../partials/footer")%>


	
	