<%- include("../partials/header")%>

<style>
	body {
		background: url("../imgs/twitter/twitter.png");
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
	}

</style>


<div class="exSpace">

	<div class="container d-none  d-lg-block padding opac">
		<img src="https://images.unsplash.com/photo-1598018553943-29ace5bf9867?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1384&q=80" class="img-fluid height rounded ">
	</div>

	<div class="d-md-block d-lg-none opac">
		<img src="https://images.unsplash.com/photo-1598018553943-29ace5bf9867?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1384&q=80" class="img-fluid rounded">
	</div>
	
	
	<div class="container padding">
		<div class="header rounded">
			<h1 class="center display-4 pudding">
				Twitter | See What's Happening!
			</h1>
		</div>
		
		<div class ="font bg rounded">
			<div class="pad">
				<p>
					Twitter is an American microblogging and social networking service, on which users can interact with posts put by other people known as 			        “tweets”. Users can post, like, and retweet tweets put by themselves or by another registered user.
				</p>

				<p>
					It has seen a serious rise in popularity in recent years and has become the social media of choice for many people. Twitter can be used 				    for a lot of things since accounts on twitter are automatically public. It allows users from anywhere in the world to interact with one 				    another. The concept of tweets in twitter is what attracts most of the user base to the platform, tweets are short paragraphs of text 				        which are less than 280 characters in total.
				</p>

				<p>
					Twitter allows users to:
				</p>
				<div class="row">
					<div class="col-md-12 col-lg-6">
						<ul id="ul">
							<li>Meet people that share similar interests</li>
							<li>Stay updated with current events</li>
							<li>Connect with other people</li>
							<li>A platform to promote</li>
							<li>Allows for people to take genuine feedback</li>
							<li>Follow their interests</li>
						</ul>
					</div>
					<div class="col-md-12 col-lg-6">
						<img src="https://images.unsplash.com/photo-1583330638480-50271adb037e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="bodyImg">
					</div>
				</div>
				

				<p>
					Tweets are generally to share information about something or share something about yourself, the content of a tweet is up to the user.
				</p>

				<p>
					How to sign up for a twitter account on your computer (For users on mobile the process will be similar):
				</p>
				<ol>
					<li>Press the sign-up button after opening the twitter website</li>
					<li>Fill out the required fields, which will be your Name, Phone (Please put a valid phone number or an email address as they verify 					        it),and Date of birth (Minimum age is 13 for a twitter account).
					</li>
					<li>A verification email or message will be sent respectively. This is authentication to make sure that you are a real person as well 					        as will allow you to recover your account in the case that you lose it.
					</li>
					<li>Pick a password, make sure the password at least contains: Capital letters, Symbol, above 8 characters. Please do not pick any of 					        these passwords if you have set one of these as your <a href="https://www.beckershospitalreview.com/cybersecurity/25-most-common-passwords.html">passwords </a> anywhere, I recommend instantly changing it
					</li>
					<li>Twitter will ask you to choose your interests, you can either choose them here or press the skip button on the top right corner.</li>
					<li>
						You are into your new twitter account, try to explore the interface, meet new people, moreover interact with different communities 						   with similar interests as yours.
					</li>
				</ol>
				
				<p>
					Overall I would say that Twitter is a very valid option if you are looking to interact with different communities and find people with 					   similar interests like yours. A twitter account is definitely worth making and can help you a lot to interact with people.
				</p>
				
			</div>
			
		</div>
	</div>
	
</div>

<%- include("../partials/footer")%>